version: '3.9'

services:
  postgres:
    image: postgres:14
    environment:
      POSTGRES_DB: vige
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5

  redis:
    image: redis:6
    ports:
      - "6379:6379"

  api:
    build:
      context: ./vige-api
    environment:
      - PORT=8000
    volumes:
      - ./vige-api/vige/local_config.env:/vige/vige/local_config.env
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_started
    ports:
      - "8000:8000"
    command: web

