[[source]]
url = "https://mirrors.aliyun.com/pypi/simple/"
verify_ssl = true
name = "pypi"

[packages]
uvicorn = "==0.34.0"
sqlalchemy = "==2.0.8"
databases = "==0.9.0"
pydantic = "==2.10.3"
alembic = "==1.14.0"
psycopg2 = "==2.9.5"
requests = "==2.32.2"
bcrypt = "==4.2.1"
huey = "==2.5.0"
redis = "==2.10.6"
cryptography = ">=3.3"
pyOpenSSL = ">=19.0.0"
SQLAlchemy-Utils = "==0.41.2"
jinja2 = "3.1.4"
itsdangerous = "==2.0.1"
aliyun-python-sdk-core-v3 = "*"
lxml = "*"
tiktoken = "==0.5.1"
pillow = "==10.3.0"
pydantic-settings = "==2.7.0"
fastapi-babel = "==1.0.0"
factory-boy = "==2.10.0"
fastapi-cache = "==0.1.0"
pytz = "==2024.2"
fastapi = {extras = ["all"], version = "==0.115.6"}
python-mimeparse = "==2.0.0"
websockets = "==14.1"
pydub = "==0.25.1"
http-client = "==0.1.22"
httpx = "==0.28.1"
websockets-proxy = "==0.1.3"
numpy = "==1.26.4"
soundfile = "==0.12.1"
httpx-socks = "==0.10.0"
openai = "*"
zhipuai = "==2.1.5.20250106"
async-fastapi-jwt-auth = "==0.6.6"
python-docx = "*"
pymupdf = "*"
docxtpl = "*"
pandas = "*"
xlrd = "*"
wechatpayv3 = "*"
pycryptodome = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"
pytest-watch = "*"
swagger-spec-validator = "*"
requests-mock = "*"

[requires]
python_version = "3.10"
